<div class="d-flex justify-content-center position-relative">
  <img
    [src]="url"
    [alt]="alt"
    (load)="onLoad()"
    (error)="onError()"
    [ngStyle]="{
      display: hasLoaded() ? '' : 'none',
      transition: 'opacity 0.3s ease-in-out'
    }"
    class="card-img-top animate__animated animate__fadeIn"
  />

  @if (!hasLoaded()) {
  <div
    class="d-flex justify-content-center align-items-center position-absolute w-100 h-100"
  >
    <img
      src="assets/loader.svg"
      alt="Cargando..."
      width="35px"
      height="35px"
      class="spinner-animation"
    />
  </div>
  }
</div>

<style>
  .spinner-animation {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
